
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #515763;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.container{
  margin: 70px auto;
  width: 500px;
}
h1{
  padding: 5px;
}
nav{
  margin-left: 50px;
}
nav a{
  text-decoration: none;
  padding: 5px;
  color: rgb(123, 115, 230);
  margin-left: 50px;
}
ol li{
  padding: 5px;
}
footer{
  text-align: center;
  padding: 5px;
}
