body{
    background-color: rgb(157, 203, 241);
}
.container{
    width: 250px;
    position: relative;
    top: 150px;
    margin: auto;
    background-color: white;
    border-radius: 1%;
    box-shadow: 1px 1px 20px 0px ;
    padding: 15px;
}
#dp{
    width: 150px;
    border: 10px solid rgb(214, 214, 214);
    border-radius: 50%;
    margin: auto;
    display: block;
}
#ind{
    position: fixed;
    width: 25px;
    height: 25px;
    z-index:1;
    display:block;
    border: 5px solid white;
    border-radius: 50%;
    margin-left: 165px;
    margin-top: 125px;
}
span{
    margin: auto;
    display: block;
}
.name{
    text-align: center;
    color: rgb(109, 10, 238);

}
.tag{
    text-align: center;
    color: black;
    font-weight: bolder;
    padding-top: 6px;
}
.content{
    text-align: center;
    
}
.icons{
    margin-left: 35px;
    word-spacing: 35px;
    color: cornflowerblue;
}